
  
  .glider {
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
  }
  
  .glide {
    min-width: 15%;
    height: auto;
    transition: 0.5s;
    padding: 0px 0 0 0;
  }
  
  #moveBehind {
    right: 0;
    border: none;
    width: 3%;
    border-radius: 50%;
    height: 30px;
  }
  #moveAhead {
    right: 0;
    border: none;
    width: 3%;
    border-radius: 50%;
    height: 30px;;
    margin-top: 15px;
  }
  
  .poster {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .glide > img {
    height:200px;
    object-fit: fill;
    cursor: pointer;
  }

  .glide > p {
    font-weight: bold;
    font-size: 100%;
    cursor: pointer;
   }

.bodyDiv {
    padding-left: 0px;
    align-items: center;
    display: flex;
    padding-right: 0px;
    overflow: hidden;

}

.popupcontent {
  background-color: #f6f6f6;
  border-radius: 30px;
  padding: 10px;
}