.logos > img {
    object-fit: contain;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-top:  50px;
    margin-right: auto;
}

.sidebar {
    background-color: #F6F7F9;
    display:flex;
    flex: 0.2;
    flex-direction: column;
    margin-top: 15px;
    padding-bottom: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.userContainer {
    margin-top: 50px;
}

.Trending {
    text-align: center;
    font-weight: bold;
}

.AppControl {
    text-align: center;
    font-weight: bold;

}

