.inputOption {
    align-items: center;
    display: flex;
    padding: 4px;
    font-size: 15px ;
    justify-content: center;
}

.inputOption > p {
    margin-left: 10px;
}

.inputOption:hover {
    background-color: #5843BE;
    color: white;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
}