.TopWatcher {
    display: flex;
}

.TopWatcher {
    display: flex;
    margin:10px;
    justify-content: space-around;
    border-radius: 30px;
    background-color: #d8dce5;
}

.TopWatcher > p {
    padding : 10px;
}

.WatchTime {
    margin-right: 50px;
    background-color: #F6F7F9;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: auto;
    align-items: center;
}